:root,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

:root {
  display: flex;
  --green: #86c060;
  --light-green: #b8dd51;
  --dark-green: #8aa579;
  --purple: #a231ec;
  --light-purple: #b683d8;
  --blue: #3d82c2;
  --orange: #e77224;
  --grey: #979797;
  --light-grey: #e4e3e3;
}
